$myFont: 'Braah One', sans-serif;


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

body{
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1A2A33;
  position: relative;
  gap: 1rem;
  font-family: 'Outfit', sans-serif;
}
#the-game{
  width: 100dvw;
  height: 100dvh;
  background-color: #1A2A33;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
    #game-board{
    width: 25rem;
    height: 25rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;

      .box{
        width: 7.9rem;
        height: 7.9rem;
        border: 2px solid black;
        background: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-size: 5rem;
        font-family: $myFont;
        text-align: center;
        background: #1F3641;
        box-shadow: inset 0px -8px 0px #10212A;
        border-radius: 15px;
      }
}
}

#score{
  width: 25rem;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  .score-divs{
    height: 72px;
    width: 7.9rem;
    left: 491px;
    top: 690px;
    border-radius: 15px;
    color: #1A2A33;
  }
}



h2{
  text-align: center;
}
p{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
#result-div{
  width: 100%;
  height: 25%;
  border: 2px solid black;
  background-color: #10212A;
  display: none;
  z-index: 1;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1{
  height: fit-content;
  width: fit-content;
  font-size: 4rem;
  color: #F2B137;
  text-align: center;
  }
  #result-div-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  #reset2{
    width: 7rem;
    height: 3.5rem;
    color: #1A2A33;
    background: #F2B137;
    box-shadow: inset 0px -4px 0px #CC8B13;
    border-radius: 10px;
    border: none;
  }
  #quit{
    width: 7rem;
    height: 3.5rem;
    background: #A8BFC9;
    box-shadow: inset 0px -4px 0px #6B8997;
    border-radius: 10px;
    color: #1A2A33;
    border: none;
    font-weight: 700;
  }
}
#reset{
  width: 5rem;
  height: 2.5rem;
  background: #F2B137;
  box-shadow: inset 0px -4px 0px #CC8B13;
  border-radius: 10px;
  border: none;
  color: #1A2A33;
}
button:hover{
  cursor: pointer;
}
#x-wins{
background-color: #31C3BD;
}
#tie{
background-color: whitesmoke;
}
#o-wins{
background-color: #F2B137;

}

.start-button{
  width: 15rem;
  height: 3rem;
  color: #1A2A33;
  font-weight: 700;
  border: none;
  text-align: center;
}
#start-PVP{
  background: #31C3BD;
  box-shadow: inset 0px -8px 0px #118C87;
  border-radius: 15px;
}
  
#start-CPU{
  background: #F2B137;
  box-shadow: inset 0px -8px 0px #CC8B13;
  border-radius: 15px;
}
